.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
}

.btn {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.comment {
    font-size: 18px;
}

@media (max-width: 600px) {
    .comment {
        font-size: 15px;
    }
}
